* {
    word-break: keep-all;
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font: -apple-system-body;
    font-family: 'Pretendard Variable', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Text Elements */
.text16 {
    font-size: 1em;
    line-height: 1.5;
}
.text14 {
    font-size: 0.875em;
    line-height: 1.6;
}
.text12 {
    font-size: 0.75em;
    line-height: 1.4;
}
.textRegular {
    font-weight: 400;
}
.textMedium {
    font-weight: 500;
}
.textBold {
    font-weight: 700;
}

p {
    line-height:1.5;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}
/* Typography */

/* Color */
:root {
--gray-900: #262222;
--gray-770: #383838;
--gray-650: #616161;
--gray-500: #949494;
--gray-400: #B7B7B7;
--gray-300: #DFDFDF;
--gray-250: #E8E8E8;
--gray-150: #F5F5F5;
--ivory: #FAF7F0;
--lime-750: #438643;
--lime-700: #3D9E43;
--white: #FFFFFF;
  }
/* Color */

/* Content Elements */
body {
    background: var(--white) url("img/bg-noise.png");
    background-size: 100px 100px;
    color: var(--gray-770);
}
.pageWrap {
    max-width: 440px;
    margin: 0 auto;
}
img {
    display: block;
}
.boxBottonSolid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 12px;
    border-radius: 6px;
    background-color: var(--lime-750);
    color: var(--white);
    font-size: 0.75rem;
    font-weight: 500;
}
.boxBottonOutline {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 12px;
    border-radius: 6px;
    border: 1px solid var(--lime-700);
    color: var(--lime-700);
    font-size: 0.75rem;
    font-weight: 500;
}
.spacing24 {
    height: 24px;
}

.headerWrap {
    padding: 32px 20px;
}
    .titleMain {
        width: 182px;
        height: 64px;
        margin-bottom: 24px;
    }
    .headerWrap p {
        color: var(--lime-750);
    }

.imgContainer {
    position:relative;
}
    .photoIntro {
        width:100%;
        height: auto;
    }

.invitationTextContainer {
    padding: 40px 20px 64px 20px;
}
    .invitationTextContainer p {
        color: var(--gray-650);
        margin-bottom: 20px;
        line-height: 1.7;
    }
    .invitationTextContainer p:last-child {
        margin-bottom: 0;
    }

.divider {
    margin: 0 160px;
    height: 1px;
    background-color: var(--gray-250);
}

.parentContainer {
    padding: 64px 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
    .parentContainer .row {
        margin-bottom: 12px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
    }
    .parentContainer .row:nth-child(2) {
        margin-bottom: 0;
    }
    .parentName {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        color: var(--gray-650);
        margin-right: 12px;
    }
    .parentContainer .row:nth-child(2) .parentName {
        margin-right: 26px;
    }
    .childName {
        color: var(--lime-750);
    }


.addressWrap {
    background: var(--ivory)url("img/bg-noise.png");
    background-size: 100px 100px;
    padding: 40px 20px 64px 20px;
}
    .titleAddress {
        width: 86px;
        height: 32px;
        margin-bottom: 40px;
    }
    p.address {
        color: var(--gray-650);
        margin-bottom: 4px;
    }
    p.tel {
        color: var(--gray-500);
        margin-bottom: 24px;
    }
    img.map {
        width: 100%;
        height: auto;
        border: 1px solid var(--gray-250);
        border-radius: 8px;
        margin-bottom: 24px;
    }

    .buttonContainer {
        margin-bottom: 40px;
    }
    .buttonContainer .boxBottonOutline {
        margin-bottom: 8px;
    }

    .howToGoContainer .label {
        margin-bottom: 8px;
    }
    .howToGoContainer .row {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        margin-bottom: 8px;
        color: var(--gray-650);
        font-size: 0.75rem;
        font-weight: 400;
    }
    .howToGoContainer .row .left {
        -webkit-box-flex: 2;
            -ms-flex: 2;
                flex: 2;
        font-size: 0.75rem;
        font-weight: 400;
    }
    .howToGoContainer .row .right {
        -webkit-box-flex: 5;
            -ms-flex: 5;
                flex: 5;
        font-size: 0.75rem;
        font-weight: 400;
    }
    .howToGoContainer .row.info {
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .howToGoContainer .row .icInfo {
        width: 12px;
        height: 12px;
        margin-right: 4px;
    }

.galleryContainer {
    padding: 80px 20px 64px 20px;
}
    .titleGallery {
        width: 60px;
        height: 32px;
        margin-bottom: 24px;
    }
    .gridContainer {
        display: -ms-grid;
        display: grid;
        -webkit-column-gap: 12px;
           -moz-column-gap: 12px;
                column-gap: 12px;
        row-gap: 12px;
        -ms-grid-columns: auto 12px auto 12px auto;
        grid-template-columns: auto auto auto;
        margin-bottom: 24px;
    }
    .gridItem {
        overflow: hidden;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        border-radius: 2px;
        overflow: hidden;
    }
    .gridItem img {
        width: 100%;
        height: auto;
    }

/* Content Elements */